<style type="text/css">

body 
{
	background-color:#ccffaa;
	text-align:center;
}

div.header-left
{
	float: left;
	width: 20%;
	height: 8%;
	min-height: 20px;
}

div.header-center
{
	float:left;
	width:60%;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 7px solid #00CC00;
}

div.header-right{
	
	width:20%;
}

div.left-col 
{
   	float:left;
   	min-width: 15%;
	max-width: 20%;
	height:92%;
	min-height:250;	   
     
}

div.center-col
{
 
   	float:left;
   	width:80%;
}

div.right-col
{
	
	float:left;
   	max-width: 10%;


}



div.img
{
  	margin: 8px;
  	border: 7px solid #00CC00;
  
  	width: 20%;
  /*	height:28%;*/
	height: 130px;
	max-width:  200px;

  	float:left;
  	text-align: center;
  	border-top-left-radius: 17px;
  	border-bottom-right-radius: 17px;
  	background-color:white;
}

div.img:hover
{
background-color:#CCFF90; /* i can have img itself inherit that color from div.img */
}
/*
div.img img:hover
{
background-color:#CCFF90;
} 
 */
	
div.img img
{
/*max-height: 75%;*/
max-width: 90%;
max-height: 100px;
width: auto;

margin: 3px;
border: 0px;
background-color:white;
}


div.desc
{
 
  text-align: center;
  font-weight: normal;
  max-height: 15%;
  min-height: 14px;
  width: auto;

  overflow: hidden; 
  text-overflow: ellipsis;
}
</style>