<Style type="text/css">
body 
{
	background-color:#ccffaa;
	text-align:center;
}


div.btn-center

{       
     
      margin-left:auto;
      margin-right:auto;
      height: 20%;
       min-width:400px;
       max-width:600px;
width:60%;
/*content:block;
*/
}
  

div.nav
{ 
        float: left;
	width: 30%;
         height:auto;
border:0px;
	/*max-height: 60%;*/
}

div.nav img
{
      text-align:center;
	width: 33%;
border:0px;

}


div.img
{
	
     margin-left:auto;
     margin-right:auto;
     padding:10px;
  	border: 7px solid #00CC00;
   
  	width: 60%;
        height:72%;


  
  	text-align: center;
  	border-top-left-radius: 17px;
  	border-bottom-right-radius: 17px;
  	background-color:white;
}

div.img:hover
{
background-color:#CCFF90; /* i can have img itself inherit that color from div.img */
}
/*
div.img img:hover
{
background-color:#CCFF90;

} 
 */
	
div.img img
{


max-height:80%;
width: auto;
max-width:80%;
background-color:white;
border:0px;
}


div.desc
{
 
  text-align: center;
  font-weight: normal;
  max-height: 15%;
  min-height: 14px;
  width: auto;

  overflow: hidden; 
  text-overflow: ellipsis;
}

</style>